* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}
table,
table td {
  border: 1px solid #cccccc;
}

td {
    height: 50px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
}
/* a{
    text-align: center;
    position: absolute;
    color: #3780C1;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    text-decoration: underline;
 */

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
  }
  .footer-content a{
    margin-right: 10px;
    color: #3780C1;
    text-decoration: none;
    text-decoration: underline;
  }
  .footer-content button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #3780C1;
  }